<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.servlets.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.example.servlets.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GreetServlet</servlet-name>
        <servlet-class>com.example.servlets.GreetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetServlet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.example.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testerror</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.example.database.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.database.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.example.database.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.database.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>com.example.database.CRUD.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/view-users</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.example.filters.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.example.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/greet/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/500.html</location>
    </error-page>
    
    <listener>
        <listener-class>com.example.listeners.ActiveUserListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.example.listeners.AppLifecycleListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.example.listeners.RequestListener</listener-class>
    </listener>
</web-app>
